<!DOCTYPE html>
<html>
<head>
	<title>Online-Shopping Web</title>
	<link rel="stylesheet" type="text/css" href="css/style2.css">
</head>
<body>
<h3>user name: <span th:text="${customer}"></span></h3>
<header id="home">
	<nav>
		<div class="logo">E-Shop</div>
		<h3>user name: <span th:text="${username}"></span></h3>

		<div class="logo">
			<form>
				<input type="text" placeholder="search here">
			</form>
		</div>
		<div class="menu">
			<a href="/home">Home</a>
			<a th:href="@{/viewcart(customer=${username})}">My cart</a>
			<a href="/vieworders">My orders</a>
			<a href="/logout">Log out</a>
		</div>
	</nav>

<div class="container">
	<div class="left">
	</div>



	<!-- <div class="right">
		<h1>Best Festival Offers</h1>
		<p>
			We are providing best quality materials. We have best quality clothes, shoes for man and womens.
		</p>
		<p>
			50% Discount!!!
		</p>
		<button>Shop</button><br>
		<img src="images/icon.png">
	</div> -->
	
</div>
</header>
<!-- <section id="featured">
	<h1>Featured</h1>
	<div class="wrapper">
	<div class="box1">
		<img src="images/s1.png">
		<div class="price">Price: $50</div>
	</div>
		<div>
		<img src="images/s2.jpg">
		<div class="price">Price: $50</div>
	</div>
		<div>
		<img src="images/s3.jpg">
		<div class="price">Price: $50</div>
	</div>
		<div>
		<img src="images/s4.jpg">
		<div class="price">Price: $50</div>
	</div>
		<div>
		<img src="images/s1.png">
		<div class="price">Price: $50</div>
	</div>
</div>
</section> -->


<section id="man">
	<div class="man-row">
		<div class="man-box">
			 <img src="images/stationary.jpg">
				<h2>stationary</h2>
			<h3><a th:href="@{/viewstationary(name=${username})}">view</a> </h3>

		</div>
		<div class="man-box">
			 <img src="images/sports.jpg">
				<h2>Sports</h2>
			<h3><a th:href="@{/viewsports(name=${username})}">view</a> </h3>


		</div>
		<div class="man-box">
			 <img src="images/applicances.png">
				<h2>Appliances</h2>
			<h3><a th:href="@{/viewappliances(name=${username})}">view</a> </h3>


		</div>
		<div class="man-box">
			 <img src="images/gadgets.jpeg">
				<h2>Gadgets</h2>
			<h3><a th:href="@{/viewgadgets(name=${username})}">view</a> </h3>
		</div>

	</div>
</section>









<!-- <section id="women">

	<div class="man-row">
		<div class="man-box">
			<img src="images/s1.png">
				<h2>Nike Ferr TR<br>$129.99</h2>
			<h3>Add to cart </h3>
		</div>
		<div class="man-box">
			<img src="images/s1.png">
				<h2>Nike Ferr TR<br>$129.99</h2>
			<h3>Add to cart </h3>
		</div>
		<div class="man-box">
			<img src="images/s1.png">
				<h2>Nike Ferr TR<br>$129.99</h2>
			<h3>Add to cart </h3>
		</div>
		<div class="man-box">
			<img src="images/s1.png">
				<h2>Nike Ferr TR<br>$129.99</h2>
			<h3>Add to cart </h3>
		</div>
	</div>
</section> -->




<section id="footer">
	<h2>Contact us</h2>
	<img src="images/icon.png">
</section>
















</body>
</html>